<!-- <!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1> Welcome</h1>
<a href="Welcome">Home</a>
<form action="Welcome">
Guest Name : <input type="text" name="guestName"><br />
Select Colors : <br/>

<input type ="checkbox" name="color" value="red"> Red <br /> 
<input type ="checkbox" name="color" value="green"> Green <br /> 
<input type ="checkbox" name="color" value="blue"> Blue <br />

<input type="submit" value="GO">
</form>
<a href="Hello.html">Hello.html</a>
</body>	
</html> -->


<html><body> <% x=3; %> <% int x=5; %> <%! int x=7; %> x = <%=x%>, <%=this.x%> </body></html>